extends ../layout.pug

block content
    h1 Filtrar Agendas

    form(action="/api/agendas/filtrar" method="GET")
        label(for="sucursal_id") Sucursal:
        select(name="sucursal_id")
            option(value="") Todas
             if sucursales && sucursales.length > 0 
                each sucursal in sucursales
                    option(value=sucursal.id) #{sucursal.nombre}
             else
                 option(value='') No hay sucursales disponibles

        label(for="clasificacion") Clasificación:
        select(name="clasificacion")
            option(value="") Todas
            option(value="Normal") Normal
            option(value="Especial") Especial
            option(value="VIP") VIP

        label(for="especialidad") Especialidad:
        select(name="especialidad")
            option(value="") Todas
            each especialidad in especialidades
                option(value=especialidad.id) #{especialidad.nombre}

        label(for="profesional_id") Médico:
        select(name="profesional_id")
            option(value="") Todos
            each profesional in profesionales
                option(value=profesional.id) #{profesional.nombre}

        label(for="estado_turno") Estado del Turno:
        select(name="estado_turno")
            option(value="") Todos
            option(value="libre") Libre
            option(value="reservado") Reservado
            option(value="confirmado") Confirmado
            option(value="ausente") Ausente
            option(value="atendido") Atendido

        label(for="dia") Día:
        input(type="date" name="dia")

        button(type="submit") Filtrar

    if agendas.length > 0
            h2 Resultados
            each agenda in agendas
                p Clasificación: #{agenda.clasificacion} - Especialidad: #{agenda.especialidad} - Médico: #{agenda.profesional} - Sucursal: #{agenda.sucursal} - Estado: #{agenda.estado}
    else
        p No se encontraron agendas para los filtros seleccionados.
