extends ../layout.pug

block content
  h1.text-center Filtrar Agendas
  .container.d-flex.justify-content-center.align-items-center(style="min-height: 100vh;")
    form(action="/agendas/filtrar", method="GET" class="w-50")
     
      div.mb-3
        label(for="especialidad", class="form-label") Especialidad
        select(name="especialidad" class="form-select")
          option(value="") Selecciona Especialidad
          each especialidad in especialidades
            option(value=especialidad.id) #{especialidad.nombre}

      
      div.mb-3
        label(for="profesional", class="form-label") Profesional
        select(name="profesional" class="form-select")
          option(value="") Selecciona Profesional
          each profesional in profesionales
            option(value=profesional.id) #{profesional.nombre} #{profesional.apellido}

      div.mb-3
        button(type="submit" class="btn btn-primary") Filtrar

 
  if agendas && agendas.length
    table.table.table-bordered.table-striped.mt-4
      thead
        tr
          th Profesional
          th Especialidad
          th Clasificación
          th Estado
          th Max Sobreturnos
          th Duración de Turno
          th Fecha
      tbody
        each agenda in agendas
          tr
            td #{agenda.profesional_nombre} #{agenda.profesional_apellido}
            td #{agenda.especialidad_nombre}
            td #{agenda.clasificacion}
            td #{agenda.estado}
            td #{agenda.max_sobreturnos}
            td #{agenda.duracion_turno}
            td #{agenda.fecha}
  else
    p No se encontraron agendas.



