extends ../layout.pug

block content
  h1.text-center.mt-4 Lista de Agendas
  table.table.table-bordered
    thead
      tr
        th ID
        th Profesional Especialidad ID
        th Sucursal ID
        th Clasificación
        th Max Sobreturnos
        th Duración Turno
        
    tbody
      each agenda in agendas
        tr
          td= agenda.id
          td= agenda.profesional_especialidad_id || '-'
          td= agenda.sucursal_id || '-'
          td= agenda.clasificacion || '-'
          td= agenda.max_sobreturnos
          td= agenda.duracion_turno || '-'
         
        
             
           
    .mt-3
      button.btn.btn-success(onclick="window.location.href='/agendas/crear'") Crear Nueva Agenda
    .mt-3 
       button.btn.btn-success(onclick=`window.location.href='/pacientes/ingreso-dni'`) Agendar Turno


